html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1b262c;
}

li {
  display: inline;
  float: left;
}
.carrossel{
  width: 60%;
  height: 80%;
}

.li a {
  display: block;
  padding: 10px 12px;
  background-color: purple;
  color: white;
  text-decoration: none;
}

#barra1 {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: purple;
}

.a2{
  display: block;
  padding: 10px 12px;
  background-color: grey;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.barra-2 {
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 20%;
  padding-right: 20%;
  hei
}

#map {
  width: 75%;
  padding-right: 10px;
  height: 100%;
  float: left;
  background-color: #343a40;
}

.searchbar{
  float: right;
}

#navbardown a{
  padding-left: 50px;
}

#nome {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  font-size: 70px;
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5)
}

#card {
  padding-top: 30px;
  padding-left: 5px; 
  float: left;
  width: 40%;
  height: 25%;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/mainhouse.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
